<div class="weather-card-item">
  <div id="hour" class="">
    {{weather.period}}:00
  </div>

  <div class="">
    <img width="100%" [src]="imageSrc" />
  </div>

  <div class="">
    {{weather.temperature}}ºC
  </div> 
</div>
