<div class="next-weathers">
  <div style="margin-left:auto; margin-right:auto; display:flex;">
  <div *ngFor="let weather of weathersToPrint">
    <next-weather-item [weather]="weather"></next-weather-item>
  </div>
  <div>
</div>
