.weather-cards {
  text-align: center;
  font-size: 3vw;
  display: flex;
  height: 50%;
  margin: 50px;
}

.weather-card-right {
  /*padding: 0px 100px;*/
  width:50%;
  display: inline-block
}

.weather-card-left {
  /*padding: 0px 100px;*/
  width:50%;
}

.weather-hour {
  color: #878787;
}

.weather-date {
  color: #878787;
}

.weather-image {

}

.weather-rain-probability {
  color: #878787;
}

.weather-humidity {
  color: #878787;
}

.weather-wind-velocity {
  color: #878787;
}

.weather-temperature {
  font-size: 15vw;
}

.weather-card-left-content{
  text-align: left;
  margin-left: 20%;
}
