<div class="weather-cards">
  <div class="weather-card-right">
    <div class="weather-date">
      {{date}}
    </div>

    <div id="hour" class="weather-hour">
      {{hour}}
    </div>

    <div class="weather-image">
      <img width="45%" [src]="imageSrc" />
    </div>
  </div>

  <div class="weather-card-left">
    <div class="weather-card-left-content">
      <div class="weather-rain-probability">
        Precipitaciones: {{currentWeather.rain_probability}}%
      </div>

      <div class="weather-humidity">
        Humedad: {{currentWeather.relative_humidity}}%
      </div>

      <div class="weather-wind-velocity">
        Viento: {{currentWeather.wind_velocity}}Km/h
      </div>
    </div>
    <div class="weather-temperature">
      {{currentWeather.temperature}}ºC
    </div>
  </div>
</div>
